@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h1,
h2,
h3,
h4 {
    font-family: 'Fraunces', serif;
}

body {
    background-color: #F2F2F2;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: 'Barlow', sans-serif;
}

header {
    ul {
        input {
            opacity: 0;
        }
        li {
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;
            letter-spacing: 0.92px;
            font-family: 'Barlow', sans-serif;
            margin-right: 32px;
            list-style: none;
            text-transform: uppercase;
            a {
                text-decoration: none;
                color: #83888F;
            }
            a:hover {
                color: #333D4B;
            }
        }
        label {
            display: none;
        }
        .xs-list {
            display: none;
        }
    }
}

.coffee-made {
    .container {
        background-image: url('../img/Bitmap\ \(1\).png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 117px 87px;
        margin-top: 45px;
        .coffee-card {
            &__title {
                font-size: 72px;
                font-weight: 900;
                color: #fff;
                line-height: 72px;
            }
            &__text {
                font-size: 16px;
                font-weight: 400;
                color: #afaeac;
                line-height: 26px;
                margin-top: 32px;
                font-family: 'Barlow', sans-serif;
                margin-bottom: 56px;
            }
            &__btn {
                font-size: 18px;
                font-weight: 900;
                padding: 15px 31px;
                background-color: #0E8784;
                border-radius: 6px;
                color: #fff;
                font-family: 'Fraunces', serif;
            }
        }
    }
}

.coffee-collection {
    margin-top: 75px;
    .container {
        .col-img {
            object-fit: cover;
            position: absolute;
            z-index: -1;
            margin-left: 35px;
        }
        .planalto {
            text-align: center;
            img {
                width: 255px;
                margin-top: 112px;
            }
            h3 {
                font-size: 24px;
                line-height: 32px;
                font-weight: 900;
                margin: 71px 0 24px 0;
            }
        }
    }
}

.marcet {
    margin-top: 200px;
    text-align: center;
    .container {
        padding: 100px 0 0 0;
        background-color: #2C343E;
        height: 577px;
        border-radius: 15px;
        h2 {
            color: #fff;
            font-size: 40px;
            line-height: 48px;
            font-weight: 900;
            margin-bottom: 32px;
        }
        p {
            line-height: 26px;
            color: #FEFCF7;
            margin-bottom: 72px;
        }
        .mItems-con {
            justify-content: center;
            position: relative;
            .mItem {
                margin: 0 15px 0 15px;
                width: 350px;
                height: 382px;
                border-radius: 8px;
                background-color: #0E8784;
                padding: 48px;
                h3 {
                    margin: 56px 0 24px 0;
                    font-size: 24px;
                    font-weight: 900;
                    color: #fff;
                }
            }
        }
    }
}

.frequency {
    margin-top: 351px;
    .container {
        h3 {
            color: #83888F;
            font-weight: 900;
            line-height: 32px;
            margin-bottom: 95px;
        }
        .row {
            .fre-item {
                padding-right: 95px;
                h1 {
                    color: #FDD6BA;
                    font-size: 72px;
                    font-weight: 900;
                    line-height: 72px;
                }
                h2 {
                    font-size: 32px;
                    color: #333D4B;
                    margin: 38px 0;
                    font-weight: 900;
                }
            }
        }
        .fre-btn {
            background-color: #0E8784;
            color: #F2F2F2;
            font-size: 18px;
            padding: 15px 31px;
            /* margin-top: 250000px; shu joyiga tushunmadim baribir ishlamayabdi */
            border-radius: 8px;
        }
        .fre-btn:hover {
            background-color: #66D2CF;
        }
    }
}

footer {
    margin-top: 200px;
    text-align: center;
    .container {
        background-color: #2C343E;
        padding: 47px 85px;
        .fly {
            ul {
                margin-top: 8px;
                display: flex;
                li {
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 15px;
                    letter-spacing: 0.92px;
                    font-family: 'Barlow', sans-serif;
                    margin-left: 32px;
                    list-style: none;
                    text-transform: uppercase;
                    a {
                        text-decoration: none;
                        color: #83888F;
                    }
                    a:hover {
                        color: #FEFCF7
                    }
                }
            }
        }
        .media-end {
            ul {
                li {
                    font-size: 22px;
                    margin-left: 32px;
                    a:hover {
                        background-color: #FDD6BA;
                    }
                }
            }
        }
    }
}

.About {
    margin-top: 45px;
    .container {
        background-image: url('../img/aboutus.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 137px 87px;
        height: 450px;
        h1 {
            font-size: 40px;
            line-height: 48px;
            font-weight: 900;
            margin-bottom: 24px;
            color: #FEFCF7;
        }
        p {
            color: #FEFCF7;
        }
    }
}

.commitment {
    margin-top: 168px;
    .container {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        .com-card {
            width: 90%;
            &-text {
                h2 {
                    font-size: 40px;
                    font-weight: 900;
                    line-height: 48px;
                    margin: 32px 0;
                    color: #333D4B;
                }
                p {
                    color: #333D4B;
                }
            }
        }
    }
}

.quality {
    margin-top: 168px;
    .container {
        .quality-card {
            background-color: #282F38;
            height: 474px;
            padding: 100px 85px;
            border-radius: 10px;
            .row {
                flex-flow: row-reverse;
                .quality-card__text {
                    h2 {
                        font-size: 35px;
                        font-weight: 900;
                        color: #fff;
                        margin-bottom: 32px;
                    }
                    p {
                        color: #FEFCF7;
                    }
                }
                .quality-card-img {
                    transform: translateY(-200px);
                    .rasm-2 {
                        display: none;
                    }
                }
            }
        }
    }
}

.country {
    margin-top: 168px;
    .container {
        h3 {
            font-size: 24px;
            font-weight: 900;
            color: #83888F;
            line-height: 32px;
            margin-bottom: 64px;
            margin-left: 36px;
        }
        .row {
            div {
                padding: 0 54px;
                img {
                    margin-bottom: 45px;
                }
                h2 {
                    font-size: 32px;
                    font-weight: 900;
                    line-height: 36px;
                    margin-bottom: 24px;
                }
            }
        }
    }
}

.create {
    margin-top: 35px;
    .container {
        .create-card {
            background-image: url('../img/Bitmap\ \(2\).png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            padding: 134px 87px;
            height: 450px;
            border-radius: 10px;
            .row {
                div {
                    h1 {
                        font-size: 72px;
                        font-weight: 900;
                        line-height: 72px;
                        color: #FEFCF7;
                        margin-bottom: 32px;
                    }
                    p {
                        color: #FEFCF7;
                    }
                }
            }
        }
    }
}

.pick {
    margin-top: 168px;
    .container {
        .pick-con {
            height: 653px;
            background-color: #282F38;
            padding: 200px 85px;
            .pick-text {
                h1 {
                    font-size: 72px;
                    font-weight: 900;
                    line-height: 72px;
                    color: rgba(253, 214, 186, 1);
                }
                h3 {
                    font-size: 32px;
                    font-weight: 900;
                    line-height: 36px;
                    color: #FEFCF7;
                    margin-top: 38px;
                }
                p {
                    color: #F2F2F2;
                    margin-top: 42px;
                }
            }
        }
    }
}

.question {
    margin-top: 168px;
    .container {
        .row {
            .question-left {
                h2 {
                    font-size: 24px;
                    font-weight: 900;
                    line-height: 32px;
                    color: #83888F;
                    transition: .4s all ease;
                    margin: 24px 0;
                    cursor: pointer;
                }
                h2:hover {
                    color: #333D4B;
                }
            }
            .info {
                .info-item {
                    margin-bottom: 30px;
                    input {
                        display: none;
                    }
                    label {
                        h2 {
                            font-size: 40px;
                            font-weight: 900;
                            line-height: 48px;
                            color: #83888F;
                        }
                        i {
                            font-size: 40px;
                            transition: .5s all ease;
                        }
                    }
                    .info-check {
                        display: none;
                        margin: 15px 0;
                        div {
                            padding: 30px;
                            background-color: #F4F1EB;
                            color: #333D4B;
                            border-radius: 8px;
                        }
                        div:hover {
                            background-color: #0E8784;
                            color: #fff;
                        }
                    }
                    input:checked~.info-check {
                        display: flex;
                    }
                    input:checked~label {
                        i {
                            transform: rotateX(180deg);
                        }
                    }
                }
                .info-text {
                    margin-top: 84px;
                    background-color: #282F38;
                    padding: 31px 64px;
                    p {
                        color: #fff;
                        opacity: .5;
                        margin-bottom: 24px;
                    }
                    h2 {
                        color: #FEFCF7;
                        span {
                            color: #0E8784;
                        }
                    }
                }
                .btn-con {
                    text-align: end;
                    margin-top: 41px;
                    .info-btn {
                        color: #FEFCF7;
                        background-color: #0E8784;
                        padding: 15px 31px;
                        border-radius: 8px;
                        font-weight: 900;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 48em) {
    header {
        ul {
            li {
                display: none;
            }
            input:checked~.xs-list {
                display: block;
                position: absolute;
                width: 100%;
                background: linear-gradient(180deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
                left: 0;
                text-align: center;
                padding: 40px;
                z-index: 1;
                h2 {
                    margin: 32px;
                    a {
                        color: #282F38;
                    }
                }
            }
            label {
                z-index: 2;
                position: relative;
                display: block;
                transform: translateX(-35px);
                font-size: 25px;
                font-weight: 900;
            }
        }
    }
    .coffee-made {
        .container {
            background-image: url('../img/Bitmap\ \(3\).png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            padding: 100px 24px;
            margin-top: 45px;
            .coffee-card {
                text-align: center;
                &__title {
                    font-size: 40px;
                    font-weight: 900;
                    color: #fff;
                    line-height: 40px;
                }
            }
        }
    }
    .coffee-collection {
        margin-top: 75px;
        .container {
            .col-img {
                object-fit: cover;
                position: absolute;
                z-index: -1;
                margin-left: 40px;
                width: 327px;
            }
            .planalto {
                text-align: center;
                padding: 0 35px;
                img {
                    width: 255px;
                    margin-top: 56px;
                }
                h3 {
                    margin: 37px 0 18px 0;
                }
            }
        }
    }
    .marcet {
        margin-top: 120px;
        text-align: center;
        .container {
            padding: 64px 24px;
            background-color: #2C343E;
            height: 902px;
            border-radius: 15px;
            h2 {
                margin-bottom: 24px;
            }
            p {
                margin-bottom: 32px;
            }
            .mItems-con {
                justify-content: center;
                position: relative;
                .mItem {
                    margin: 15px 0;
                    padding: 48px;
                }
            }
        }
    }
    .frequency {
        margin-top: 700px;
        .container {
            text-align: center;
            h3 {
                font-size: 32px;
            }
            .row {
                .fre-item {
                    padding: 25px;
                    h1 {
                        color: #FDD6BA;
                        font-size: 72px;
                        font-weight: 900;
                        line-height: 72px;
                    }
                    h2 {
                        font-size: 32px;
                        color: #333D4B;
                        margin: 38px 0;
                        font-weight: 900;
                    }
                }
            }
        }
    }
    footer {
        margin-top: 200px;
        .container {
            text-align: center;
            .fly {
                ul {
                    margin-top: 8px;
                    li {
                        margin: 15px 0;
                    }
                }
            }
            .media-end {
                ul {
                    margin-left: 64px;
                    li {
                        font-size: 22px;
                        margin: 16px;
                    }
                }
            }
        }
    }
    .About {
        text-align: center;
        .container {
            background-image: url('../img/Bitmap\ \(4\).png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            padding: 100px 24px;
            height: 450px;
        }
    }
    .commitment {
        margin-top: 120px;
        text-align: center;
    }
    .quality {
        margin-top: 120px;
        text-align: center;
        .container {
            .quality-card {
                height: 559px;
                padding: 61px 24px;
                .row {
                    flex-flow: wrap;
                    .quality-card__text {
                        display: block;
                        h2 {
                            font-size: 35px;
                            font-weight: 900;
                            color: #fff;
                            margin-bottom: 0px;
                        }
                        p {
                            color: #FEFCF7;
                        }
                    }
                    .quality-card-img {
                        margin-left: 500px;
                        transform: translateY(-80px) translateX(-500px);
                        border-radius: 10px;
                        img {
                            width: 100%;
                        }
                        .rasm-1 {
                            display: none;
                        }
                        .rasm-2 {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .country {
        margin-top: 120px;
        text-align: center;
    }
    .create {
        margin-top: 35px;
        text-align: center;
        .container {
            .create-card {
                background-image: url('../img/Bitmap\ \(6\).png');
                background-size: 100% 100%;
                background-repeat: no-repeat;
                padding: 100px 24px;
                border-radius: 10px;
                .row {
                    div {
                        h1 {
                            font-size: 40px;
                            line-height: 40px;
                            margin-bottom: 32px;
                        }
                    }
                }
            }
        }
    }
    .pick {
        margin-top: 120px;
        text-align: center;
        .container {
            .pick-con {
                height: 1021px;
                background-color: #282F38;
                padding: 56px 24px;
                .pick-text {
                    h1 {
                        margin-top: 25px;
                    }
                }
            }
        }
    }
    .question {
        margin-top: 120px;
        text-align: center;
        .container {
            .row {
                .question-left {
                    display: none;
                }
                .info {
                    .info-item {
                        label {
                            text-align: start;
                            h2 {
                                font-size: 24px;
                            }
                        }
                    }
                    .btn-con {
                        text-align: center;
                    }
                }
            }
        }
    }
}